/* SCSS for the custom icon button */
@use "../utils/variables" as vars;
.icon-buttons {
  width: 50px;
  height: 50px; /* Set the height to match the width */
  border: none; /* Adjust border to a more typical size */
  border-radius: 50%; /* Make it round */
  /* Background color */
  display: flex; /* Center icon inside button */
  align-items: center;
  justify-content: center;
  padding: 0; /* Remove default padding */
  font-size: 16px; /* Icon font size */
  cursor: pointer; /* Change cursor on hover */
  transition: background-color 0.3s ease; /* Smooth background transition */
}

.icon-buttons:hover {
  border: 2px;
  border-color: vars.$primary;
  /* Change color on hover */
}

.nav-icon {
  width: 1.5em;
  height: 1.5em;
}
.nav-bar {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.nav-style {
  text-decoration: none;
  color: black;
  padding: 0.5em 1em;
  transition: color 0.3s ease;
}
